/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("rosa.jpg");
    background-repeat: no-repeat;

}

.titulo{
    text-align: center;
    font-size: 50px;
    color: #c17fca;
}
.imagent{

    height: 227px;
    width: 300px;
    background-repeat: no-repeat;
    background-image: url("circuitos.png");
    float: left;
}