/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("rosa.jpg");
    



}



.titulo{
    text-align: center;
    font-size: 50px;
    color: #c17fca;
}
.img1{
    height: 227px;
    width: 300px;
    background-image: url("circuitos.png");
    float: left;
    background-repeat: no-repeat;
}
.img2{
height: 430px;
width: 600px;
background-image: url("imagent2.png");
float: left;
background-repeat: no-repeat;
}
.img3{
height: 227px;
width: 300px;
background-image: url("img 3.png");
float: left;
background-repeat: no-repeat;
}








